<div class="container">
  <div *ngFor="let product of products">
    <div>
      Id: {{ product.id }} Name: {{ product.name }} Price: {{ product.price }}
      <button (mouseup)="getProductByProductId(product.id)" class="btn btn-primary">Select</button>
      <a [title]="product.id + 'details'" [routerLink]="['/product-details', product.id]"> Details </a>
    </div>
  </div>

  <input type="text" [(ngModel)]="serverVariable" />
  {{ serverVariable }}

  <h5>Selected product:</h5>
  <p>{{ selectedProduct.id }}</p>
  <p>{{ selectedProduct.name }}</p>
  <p>{{ selectedProduct.price }}</p>
</div>
